/* Variable declaration */

:root {
  --main-font: "Roboto";
  --second-font: "Montserrat";
  --third-font: "Source Sans Pro";
  --fourth-font: "Alegreya";
  --fifth-font: "Roboto+Condensed";
  --color1: #222831;
  --color2: #393E46;
  --color3: #00ADB5;
  --color4: #EEEEEE;
}

/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}

body {
  background: var(--color1);
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  body {
    background: var(--color1);
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  body {
    background: var(--color1);
  }
}

h1 {
  color: var(--color2);
  opacity: 0.95;
  font-family: var(--main-font), sans-serif;
  font-size: 7vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  h1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  h1 {
    font-size: 4vw;
  }
}

.title_container {
  text-align: center;
  background: var(--color4);
  box-shadow: -0.5rem 0.5rem 0.5rem black;
  z-index: 2;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .title_container {
    margin-bottom: 2vh;
  }
}

.corner {
  display: none;
  z-index: 3;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .corner {
    display: block;
  }
}

p {
  font-family: var(--third-font), sans-serif;
  color: var(--color3);
  opacity: 0.9;
  font-size: 2rem;
}

h2 {
  color: var(--color4);
  font-family: var(--fifth-font), sans-serif;
  margin: 0;
  opacity: 0.9;
}

.navbar-default {
  background-color: var(--color1);
  border-color: var(--color1);
}

.nav_container {
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2vh;
  z-index: 5;
}

.nav_button {
  color: white;
  background: var(--color1);
  border-width: 0;
  font-size: 2rem;
  font-family: var(--fifth-font), sans-serif;
  text-transform: uppercase;
}

.nav_button:hover {
  color: var(--color3);
}

.nav_button:focus {
  outline: none !important;
  box-shadow: none;
}

#title_name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#title_desc {
  text-align: center;
  justify-content: center;
}

#footer_name {
  font-family: var(--second-font), sans-serif;
  font-size: 1.5rem;
  color: white;
}

.footer {
  font-family: Montserrat, sans-serif;
  background-color: var(--color1);
  color: white;
  text-align: center;
}

.sketch_container {
  text-align: center;
}

.hidden {
  display: none;
}

.filler {
  min-height: 1vh;
  height: 1vh;
  width: 100%;
  clear: both;
}

.title_header {
  color: white;
  font-family: var(--fifth-font), sans-serif;
  font-weight: normal;
  text-align: center;
}

.carousel_container {
  position: relative;
  text-align: center;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 4vh;

}

/*.carousel-indicators li {
  border: 1px solid var(--color1); 
}

.carousel-indicators .active {
    background-color: var(--color1);
}*/

.carousel-indicators {
  bottom: -6vh;
}

.carousel-inner {
  box-shadow: -0.5rem 0.5rem 0.5rem black;
}

.carousel {
  /*  width:65%;
  height:65%;*/
  margin: auto;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  .carousel {
/*    width: 65%;
    height: 65%;*/
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .carousel {
    width: 60%;
    height: 60%;
  }
}

.title_image {
  width: 100%;
  -webkit-filter: contrast(125%) saturate(110%);
/*  box-shadow: 0.5rem 0.5rem 0.5rem black;*/
}

.title_image_text {
  position: absolute;
  top: 8%;
  right: 8%;
  color: var(--color1);
  font-size: 3vw;
  font-family: var(--third-font), sans-serif;
  opacity: 0.9;
}

.project {
  background: var(--color4);
  margin: 2vh 2vw;
  text-align: center;
  padding: 5vh;
  box-shadow: -0.5rem 0.5rem 0.5rem black;
}

.project_image {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1vh;
}

.project_title {
  font-size: 3em;
  font-weight: bold;
  font-family: var(--main-font), sans-serif;
  color: var(--color1);
}

.project_description {
  margin-top: 2vh;
}

.project-array-container {
  margin-left: 8vw;
  margin-right: 8vw;
}

.about-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-tagline {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 4vh;
  font-family: var(--third-font), sans-serif;
  font-size: 2.5em;
}

.about-description {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 4vh;
}

a:hover {
  text-decoration: none;
}

.contact-container {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: center;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.test {
/*  position: fixed;*/
}

.home-button {
  justify-content: center;
  margin-top: 2rem;
}

.home-button:hover {
  color: red;
}