/* Variable declaration */

:root {
  --main-font: "Roboto";
  --second-font: "Montserrat";
  --third-font: "Source Sans Pro";
  --fourth-font: "Alegreya";
  --fifth-font: "Roboto+Condensed";
  --sixth-font: "Lobster";
  --color1: #eeeeee;
  --color2: #393e46;
  --color3: #00adb5;
  --color4: #222831;
}

/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}

body {
  background: var(--color1);
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  body {
    background: var(--color1);
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  body {
    background: var(--color1);
  }
}

h1 {
  color: var(--color1);
  opacity: 0.95;
  font-family: var(--main-font), sans-serif;
  font-size: 8vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  h1 {
    font-size: 7vw;
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  h1 {
    font-size: 5vw;
  }
}

.title_name {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#title_desc {
  text-align: center;
  justify-content: center;
}

.title_container {
  text-align: center;
  justify-content: center;
  background: var(--color4);
  /*  box-shadow: 0rem 0.5rem 0.5rem black;*/
  z-index: 2;
  padding: 1vh;
  margin-bottom: 0vh;
  min-height: 12vh;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .title_container {
    min-height: 15vh;
    margin-bottom: 1vh;
  }
}

.corner {
  display: none;
  z-index: 3;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .corner {
    display: inline;
    top: 0;
  }
}

p {
  font-family: var(--third-font), sans-serif;
  color: var(--color4);
  opacity: 0.8;
  font-size: 2rem;
}

h2 {
  color: var(--color4);
  font-family: var(--fifth-font), sans-serif;
  margin: 0;
  opacity: 0.9;
}

.navbar-default {
  background-color: var(--color1);
  border-color: var(--color1);
}

.nav_container {
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vh;
  z-index: 5;
}

.nav_button {
  color: var(--color4);
  background: var(--color1);
  border-width: 0;
  font-size: 2rem;
  padding: 1vh 0;
  font-family: var(--fifth-font), sans-serif;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
}

.nav-column {
  padding: 0;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  .nav_container {
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2vh;
    z-index: 5;
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .nav_container {
    /*    justify-content: center;*/
    text-align: center;
    margin-top: 0vh;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2vh;
    z-index: 5;
  }

  .nav_button {
    color: var(--color4);
    background: var(--color1);
    border-width: 0;
    font-size: 2.5rem;
    padding: .5vh 0;
    font-family: var(--fifth-font), sans-serif;
    text-transform: uppercase;
    transition: 0.25s ease-in-out;
  }
}

.nav_button:hover {
  opacity: 0.5;
  transition: 0.25s ease-in-out;
}

.nav_button:focus {
  outline: none !important;
  box-shadow: none;
}

#footer_name {
  font-family: var(--second-font), sans-serif;
  font-size: 1.5rem;
  color: var(--color4);
}

.footer {
  display: none;
  position: fixed;
  bottom: 2vh;
  font-family: Montserrat, sans-serif;
  background-color: var(--color1);
  color: var(--color4);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  .footer {
    display: inline;
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .footer {
    display: inline;
  }
}

.sketch_container {
  text-align: center;
}

.hidden {
  display: none;
}

.filler {
  min-height: 1vh;
  height: 1vh;
  width: 100%;
  clear: both;
}

.title_header {
  color: white;
  font-family: var(--fifth-font), sans-serif;
  font-weight: normal;
  text-align: center;
}

.carousel_container {
  position: relative;
  text-align: center;
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4vh;
  width: 60%;
}

/*.carousel-indicators li {
  border: 1px solid var(--color1); 
}

.carousel-indicators .active {
    background-color: var(--color1);
}*/

.carousel-indicators {
  bottom: -6vh;
}

.carousel-inner {
  /*  box-shadow: -0.5rem 0.5rem 0.5rem black;*/
  -webkit-filter: contrast(125%) saturate(110%);
}

.carousel {
  margin: auto;
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  .carousel {
    /*    width: 65%;
    height: 65%;*/
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .carousel {
    width: 60%;
    height: 60%;
  }
}

.title_image_text {
  position: absolute;
  top: 8%;
  right: 8%;
  color: var(--color1);
  font-size: 3vw;
  font-family: var(--third-font), sans-serif;
  opacity: 0.9;
}

.project {
  background: var(--color4);
  margin: 2vh 2vw;
  text-align: center;
  padding: 5vh;
  box-shadow: -0.5rem 0.5rem 0.5rem black;
}

.project_image {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1vh;
}

.project_title {
  font-size: 3em;
  font-weight: bold;
  font-family: var(--main-font), sans-serif;
  color: var(--color1);
}

.project_description {
  color: var(--color1);
  margin-top: 2vh;
}

.project_tech {
  color: var(--color3);
}

.project-array-container {
  margin-left: 8vw;
  margin-right: 8vw;
}

.about-headshot-container {
  text-align: center;
  margin-bottom: 4vh;
}

.about-headshot {
  height: 35vh;
  border-radius: 50%;
  transition: 0.5s ease-out;
}

.about-blurb {
  display: none;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .about-headshot {
    height: 50vh;
    border-radius: 50%;
    transition: 0.5s ease-out;
  }

  .about-headshot:hover ~ .about-blurb {
    transition: 0.25s ease-in-out;
    opacity: 1;
  }

  .about-headshot-container:hover .about-headshot {
    transition: 0.5s ease-out;
    transform: translateX(-20vw);
/*    -webkit-filter: contrast(125%);*/
    opacity: 1;
  }

  .about-headshot-container:hover .about-blurb {
    transition: 0.5s ease-in-out;
    opacity: 1;
  }

  .about-blurb {
    display: block;
    transition: 0.25s ease-in-out;
    pointer-events: none;
    background: var(--color1);
    position: absolute;
    width: 50vw;
    height: 40vh;
    top: 45vh;
    left: 36vw;
    opacity: 0;
    font-family: var(--second-font), sans-serif;
    padding: 2vh;
    text-align: left;
  }
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.about-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-tagline-mobile {
  text-align: center;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 2vh;
  font-family: var(--fifth-font), sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: var(--color4);
}

.about-tagline {
  display: none;
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */

  .about-tagline-mobile {
    display: none;
  }

  .about-tagline {
    display: block;
    font-size: 3em;
    margin-bottom: 4vh;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    font-family: var(--fifth-font), sans-serif;
    font-weight: bold;
    color: var(--color4);
  }
}

.about-description {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 4vh;
}

a:hover {
  text-decoration: none;
}

.contact-container {
  text-align: center;
  /*  margin-left: 20vw;
  margin-right: 20vw;*/
  margin-top: 2vh;
  margin-bottom: 2vh;
  justify-content: center;
}

.contact-icon {
  margin: 1vh;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.contact-icon:hover {
  transform: translateY(-10%) scale(1.05);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.18, 1.49, 0.83, 0.97);
}

.contact-well-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-well {
  background: var(--color4);
  color: var(--color1);
  display: inline-block;
  text-align: center;
  font-family: var(--third-font), sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.test {
  /*  position: fixed;*/
}

.home-button {
  justify-content: center;
  transition: 0.25s ease-in-out;
}

.home-button:hover {
  transform: scale(1.25);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.18, 1.49, 0.83, 0.97);
}

@media screen and (max-width: 1080px) and (min-width: 600px) {
  /* TABLET */
  .home-button {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1081px) {
  /* DESKTOP */
  .home-button {
    font-size: 2em;
  }
}

pre {
  background: #eeeeee;
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: 2rem;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--color4);
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #2ED902;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}